<div class="header">
    <div class="header__nav">
        <nav>
            <div class="nav__list-left">
                <div class="nav__list-logo">
                    <span>Cod</span><img src="../../../assets/svg/logo.svg" alt="">
                </div>

                <ul>
                    <li><a routerLink="/home">About us</a></li>
                    <li><a routerLink="/nfts">NFTs</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                </ul>
            </div>
            <div class="nav__list-right">
                <ul>
                    <li><a href="">
                        <img src="../../../assets/svg/twitter.svg" alt="twitter">
                    </a></li>
                    <li><a href="">
                        <img src="../../../assets/svg/instagram.svg" alt="instagram">
                    </a></li>
                    <li><a href="">
                        <img src="../../../assets/svg/facebook.svg" alt="facebook">
                    </a></li>
                </ul>
            </div>
        </nav>
    </div>
</div>